{% extends '../index_master.html' %}
{% load static %}
{% block content %}
<div class="right_col" role="main">
  {%if r2%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>r2</strong> Revise todos los campos.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <h1>No tiene los permisos para hacer esta accion</h1>

</div>
{% endblock%}
{% block scripts %}
<script src="{% static 'marcacion_agregar.js' %}"></script>
{% endblock %}